<%- include('../include/header.ejs') %>
  <%- include('../include/Navigation.ejs') %>

    <div class="container-fluid" style="height:100%">
      <img src="/Images/poster4.svg" class="main-poster position-absolute img-fluid d-none d-sm-block">
      <div class="row">

        <div class="col-md-6 offset-md-1 col-lg-4 mt-5">
          <div class="card border-0" style="background:rgba(255,255,255,0.8)">
            <div class="card-header border-0 d-md-bg-secondry">
              <h4 class="m-0">Sign In</h4>
            </div>

            <div class="card-body">
              <div class="form-group">
                <label>Email</label>
                <input type="text" name="email" id="emailid" class="form-control" placeholder="Enter Email Address"/>
              </div>
              <div class="form-group">
                <label>Password</label>
                <input type="password" name="password" id="password" class="form-control" placeholder="Enter Password"/>
              </div>
              <div class="form-group">
                <div class="text-center">
                  <a href="#" class="nav-link text-secondary">forgot password ?</a>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="text-center">
                <button type="submit" class="btn btn-outline-primary btn-lg m-1">Login</button>
                <button type="submit" class="btn btn-outline-primary btn-lg m-1">Signup</button>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
  <%- include('../include/footer.ejs') %>
