@import "~bootstrap/scss/mixins/buttons";

.navbar-themed {
  background: linear-gradient(90deg, rgba($secondary, 0.95), rgba($secondary, 0.6));
}

.bg-custom {
  background-color: $primary;
}

.btn-outline-custom {
  @include button-outline-variant($secondary);
}

.btn-custom {
  @include button-variant($primary, $primary);
}

.main-poster {
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}
