<div class="container">
  <form action="/admin/add-category" method="POST">
    <div class="row mt-5">
      <div class="col-md-6">
        <div class="form-group">
          <label>Category Name</label>
          <div class="input-group ">
            <input type="text" name="addcategory" id="" class="form-control" placeholder="Enter category name" aria-describedby="helpId">
            <div class="input-group-append">
              <button type="submit" class="btn btn-info">Add</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
