<div class="container mt-5">

  <form action="/admin/<% if (editing) { %>edit-product<% } else { %>add-product<% } %>" method="POST">

    <div class="form-group">
      <h4>Information</h4>
    </div>
    <hr/>

    <div class="row">
      <% if (editing) { %>
        <input type="hidden" name="productid" value="<%= productid %>"/>
      <% } %>
      <div class="col-md-3">
        <div class="form-group">
          <label for="title">Name</label>
          <input type="text" class="form-control" value="<% if (editing) { %><%= product.name %><% } %>" name="name" placeholder="Name" required="required">
        </div>

      </div>

      <div class="col-md-2">
        <label>Category</label>
        <select class="form-control select" name="category">
          <% if (editing) { %>
            <option value="<%= product.category %>">
              <%= product.category %>
            </option>
          <% } %>

          <option value="Select">Select</option>
          <% for (items of category) { %>
            <option value="<%= items.category_name %>"><%= items.category_name %></option>
          <% } %>
        </select>

      </div>

      <div class="col-md-2">
        <label>Brands</label>
        <select class="form-control select" name="brand">
          <% if (editing) { %>
            <option value="<%= product.brand %>"><%= product.brand %></option>
          <% } %>
          <option value="Select">Select</option>
          <% for (brand of brands) { %>
            <option value="<%= brand.brand_name %>"><%= brand.brand_name %></option>
          <% } %>
        </select>
      </div>
    </div>
    <div class="form-group">
      <h4>Description</h4>
    </div>
    <hr/>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="description">Short Description</label>

          <textarea class="form-control" rows="4" name="sd" placeholder="Description">
            <% if (editing) { %>
              <%= product.sd %>
            <% } %>
          </textarea>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="description">Full Description</label>
          <textarea class="form-control" rows="4" name="fd" placeholder="Description">
            <% if (editing) { %>
              <%= product.fd %>
            <% } %>
          </textarea>
        </div>
      </div>
    </div>
    <div class="form-group">
      <h4>Images</h4>
    </div>
    <hr/>
    <div class="row">
      <div class="col-md-5">
        <div class="form-group">
          <textarea name="displayimage" class="form-control" rows="3" placeholder="Display Product Image Lin ">
            <% if (editing) { %>
              <%= product.displayimage %>
            <% } %>
          </textarea>
          <input type="file" name="uploadimages[]" multiple="multiple" data-show-upload="true" data-show-caption="true" id="uploadimages"/>
        </div>
      </div>
    </div>
    <div class="form-group">
      <h4>Color</h4>
    </div>
    <hr/>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">

          <select multiple="multiple" name="color" class="form-control select">
            <% if (editing) { %>
              <% for (item of product.color) { %>
                <option style="background-color:<%= item %>" value="<%= item %>" selected="selected"><%= item %></option>
              <% } %>
            <% } %>
            <option value="red" style="background-color: red">red</option>
            <option value="blue" style="background-color: blue">blue</option>
            <option value="yellow" style="background-color: yellow">yellow</option>
            <option value="orange" style="background-color: orange">orange</option>
            <option value="gray" style="background-color: gray">gray</option>
            <option value="brown" style="background-color: brown">brown</option>
            <option value="black" style="background-color: black">black</option>
            <option value="white" style="background-color: white;color:black">white</option>
          </select>
        </div>
      </div>
    </div>

    <div class="form-group">
      <h4>Quantity / Price</h4>
    </div>
    <hr/>
    <div class="row">
      <div class="col-md-2">
        <label>Quantity</label>
        <input type="text" class="form-control" value="<% if (editing) { %><%= product.qty %><% } %>" name="quantity" placeholder="0">
      </div>
      <div class="col-md-2">
        <label>Discount</label>
        <input type="text" class="form-control" value="<% if (editing) { %><%= product.discount %><% } %>" name="discount" placeholder="0%">
      </div>
      <div class="col-md-2">
        <label>GST (%)</label>
        <input type="text" class="form-control" name="gst" placeholder="0%">
      </div>
      <div class="col-md-2">
        <label>CGST (%)</label>
        <input type="text" class="form-control" name="cgst" placeholder="0%">
      </div>
      <div class="col-md-2">
        <label>Original Price</label>
        <input type="text" class="form-control" value="<% if (editing) { %><%= product.buyprice %><% } %>" name="buyprice" placeholder="0.0">
      </div>
      <div class="col-md-2">
        <label>Selling Price</label>
        <input type="text" class="form-control" name="sellingprice" value="&#8377; <% if (editing) { %><%= product.sellprice %><% } %>" disabled="disabled"/>
      </div>
    </div>
    <hr/>

    <div class="row mt-3">
      <div class="col-md-2 ml-auto mr-auto">
        <div class="form-group">
          <button type="submit" class="btn btn-outline-info">
            <% if (editing) { %>
              Save & Update
            <% } else { %>
              Add
            <% } %>

          </button>
        </div>
      </div>
    </div>
  </form>
</div>
