<%- include('../include/header.ejs') %>

  <%- include('../include/Navigation.ejs') %>

    <div class="jumbotron jumbotron-fluid">

      <div class="container">
        <h1 class="display-3">
          <% if (editing) { %>
            Edit Products
          <% } else { %>
            Add Products
          <% } %>

        </h1>
        <p class="lead">Best Products for ever</p>
        <hr class="my-2">
      </div>
    </div>
    <div class="container">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Add Products</a>
          <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Add Category</a>
          <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Add Brands</a>
        </div>
      </nav>
      <%/* ==================== Sub Menu ====================   */%>
        <div class="tab-content" id="nav-tabContent">

          <%/* ==================== Add Products ====================   */%>

            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
              <%- include('./addProduct.ejs') %>
              </div>

              <%/* ==================== Add Category ====================   */%>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

                  <%- include('./addCategory.ejs') %>

                  </div>

                  <%/* ==================== Add Brands ====================   */%>
                    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                      <%- include('./addBrands.ejs') %>
                      </div>
                    </div>

                  </div>

                  <%- include('../include/footer.ejs') %>
