<%- include('../include/header.ejs') %>
  <%- include('../include/Navigation.ejs') %>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-3">Admin Products</h1>
        <p class="lead">Best products in world</p>
        <hr class="my-2">

        <p class="lead">
          <a class="btn btn-info btn-lg" href="Jumbo action link" role="button">Manage Products</a>
        </p>
      </div>
    </div>
    <div class="container-fluid">

      <table id="table" class="table table-striped table-inverse table-responsive text-center">
        <thead class="thead-inverse">
          <tr>
            <th>Product ID</th>
            <th>Name</th>
            <th>Category</th>
            <th>Brand</th>
            <th>Short Detail</th>
            <th>Full Detail</th>
            <th>Color</th>
            <th style="width:300px">Display Image</th>
            <th>Discount</th>
            <th>Quantity</th>
            <th>Buy Price</th>
            <th>Selling Price</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% for (product of prods) { %>

            <tr>
              <td scope="row">
                <%= product._id %>
              </td>
              <td>
                <%= product.name %>
              </td>
              <td>
                <%= product.category %>
              </td>
              <td>
                <%= product.brand %>
              </td>
              <td>
                <div>
                  <%= product.sd %>
                </div>
              </td>
              <td>
                <div>
                  <%= product.fd %>
                </div>
              </td>
              <td>
                <div>
                  <ul class="list-unstyled">
                    <% for (item of product.color) { %>
                      <li class="text-dark" style="background-color:<%= item %>">
                        <%= item %>
                      </li>
                    <% } %>
                  </ul>
                </div>
              </td>
              <td><img src="<%= product.displayimage %>" alt="" class="img-fluid text-center"></td>
              <td>
                <%= product.discount %>%</td>
              <td>
                <%= product.qty %>
              </td>
              <td>&#8377;
                <%= product.buyprice %>
              </td>
              <td>&#8377;
                <%= product.sellprice %>
              </td>
              <td>
                <a href="/admin/edit-product/<%= product._id %>?edit=true" class="btn btn-sm btn-outline-info m-2">edit</a>

                <a href="/admin/delete-product/<%= product._id %>" class="btn btn-sm btn-outline-info m-2">Delete</a>
              </td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </div>

    <%- include('../include/footer.ejs') %>
