<% /* %>
  <nav class="navbar navbar-expand-sm navbar-light mt-5">

    <a class="navbar-brand" href="/">Shopperstock</a>
  </nav>
  <% */ %>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/templete/bootstrap/js/bootstrap.min.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        $(".select option").val(function (idx, val) {
          $(this).siblings(`[value="${val}"]`).remove();
          return val;
        });
        $("textarea").val((idx, val) => val.trim());
      });
    </script>
  </body>

</html>
