<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
      <%= pageTitle %>
    </title>
    <link rel="stylesheet" href="/css/app.css"/>
    <style>
      #table > tbody > tr > td > div {
        max-height: 10.875rem;
        height: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        overflow-y: auto;
      }

      .nav-item {
        width: 5rem;
        text-align: center;
      }

      .list-group-item.active {

        background-color: #f1458e;
        border-color: #f1458e;
      }

      .navbar-light .navbar-nav .active > .nav-link,
      .navbar-light .navbar-nav .nav-link.active,
      .navbar-light .navbar-nav .nav-link.show,
      .navbar-light .navbar-nav .show > .nav-link {
        color: #fff;
        background-color: #F1458E;
        border-radius: 7px;
      }
    </style>
  </head>

  <body>
