<nav class="navbar navbar-expand-sm navbar-dark bg-secondary <% if(path === '/login'){ %> <%= navtheme %> <% } %>">
  <a class="navbar-brand" href="/">Shopperstock</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item <%= path === '/' ? ' active' : '' %> ">
        <a class="nav-link" href="/">Shop
          <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item <%= path === '/products' ? ' active' : '' %> ">
        <a class="nav-link" href="/products">Products
          <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item <%= path === '/cart' ? ' active' : '' %> ">
        <a class="nav-link" href="/cart">Cart
          <% /* if (cartitems) { %>
            <span class="badge badge-danger"><%= cartitems %></span>
          <% } else { %>
            <% } */%>
              <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item <%= path === '/orders' ? ' active' : '' %> ">
            <a class="nav-link" href="/orders">Orders
              <span class="sr-only">(current)</span></a>
          </li>
          <% /* <li class="nav-item <= path === '/admin/edit-product' ? ' active' : '' > ">
        <a class="nav-link" href="/admin/add-product">Add Products</a>
      </li>
      <li class="nav-item <= path === '/admin/products' ? ' active' : '' > ">
        <a class="nav-link" href="/admin/products">Admin Products</a>
      </li>
      */ %>
          </ul>
          <ul class="navbar-nav ml-auto ">
            <li class="nav-item ml-auto <%= path === '/login' ? ' active' : '' %> ">
              <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item ml-auto <%= path === '/signup' ? ' active' : '' %> ">
              <a class="nav-link" href="/signup">Signup</a>
            </li>
          </ul>
        </div>
      </nav>
