<%- include('../include/header.ejs') %>

  <%- include('../include/Navigation.ejs') %>

    <div class="container mt-5">
      <table class="table table-striped table-inverse">
        <thead class="thead-inverse">
          <tr>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Product Price</th>
            <th>Total Price</th>
            <th></th>
          </tr>
        </thead>
        <tbody>

          <% for ( item of products ) { %>
            <% grandTotal = grandTotal + (item.quantity * item.productId.sellprice) %>
              <tr>
                <td scope="row">
                  <%= item.productId.name %>
                </td>
                <td>
                  <%= item.quantity %>
                </td>
                <td>
                  <%= item.productId.sellprice %>
                </td>
                <td>
                  <%= (item.productId.sellprice*item.quantity) %>
                </td>
                <td>
                  <a href="/cart-delete-item/<%= item.productId._id %>" class="btn btn-sm btn-outline-custom">Delete</a>
                </td>
              </tr>
            <% } %>
            <tr>
              <td colspan="5">
                <h3></h3>
              </td>
            </tr>

          </tbody>
        </table>
        <h3 class="text-center">Grand Total :
          <%= grandTotal %>
        </h3>
        <form action="/create-orders" method="POST">
          <h3 class="text-center mt-5">
            <input type="submit" class="btn btn-outline-custom btn-lg" value="Checkout">
          </h3>
        </form>
      </div>

      <%- include('../include/footer.ejs') %>
