<%- include('../include/header.ejs') %>

  <%- include('../include/Navigation.ejs') %>

    <div class="container mt-5">
      <% for ( order of orders) { %>
        <% grandTotal=0 %>
          <div class="card mt-3">
            <div class="card-header">
              <h5>Order ID :
                <%= order._id %>
              </h5>
            </div>
            <div class="card-body">

              <table class="table table-striped table-inverse">
                <thead class="thead-inverse">
                  <tr>
                    <th>Product Name</th>
                    <th>Quantity</th>
                    <th>Price</th>

                  </tr>
                </thead>
                <tbody>
                  <% for (orders of order.products) { %>
                    <% grandTotal = grandTotal + (orders.quantity*orders.product.sellprice) %>
                      <tr>
                        <td>
                          <%= orders.product.name %>
                        </td>
                        <td>
                          <%= orders.quantity %>
                        </td>
                        <td>
                          <%= orders.product.sellprice %>
                        </td>
                      </tr>
                    <% } %>
                  </tbody>
                </table>
                <h3 class="text-center">Total :
                  <%= (grandTotal) %>
                </h3>
              </div>
            </div>
          <% } %>

        </div>

        <%- include('../include/footer.ejs') %>
