<div class="container">
  <div class="row">
    <% for (let product of prods) { %>

      <div class="col-12 col-sm-6 col-md-6 col-lg-4">
        <div class="card h-75">

          <img src="<%= product.displayimage %>" alt="" class="img-fluid ml-auto mx-auto">

          <div class="card-body text-center">

            <h5>
              <%= product.name %>
            </h5>

            <h6>&#8377;
              <%= product.buyprice %>
            </h6>

            <div class="row">
              <div class="col-md-6">
                <a href="/products/<%= product._id %>" class="btn btn-outline-custom btn-sm">Details</a>
              </div>
              <div class="col-md-6">
                <form action="/cart" method="post">

                  <input type="hidden" name="productid" value="<%= product._id %>"/>
                  <button class="btn btn-outline-custom btn-sm">Add to Cart</button>

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% } %>
  </div>
</div>
