<%- include('../include/header.ejs') %>
  <%- include('../include/Navigation.ejs') %>

    <div class="container-fluid">

      <div class="row">
        <div class="col-md-6 text-center mt-5">
          <img class="img-fluid" src="<%= product.displayimage %>" alt=" productimage=" productimage="productImage"/>
        </div>
        <div class="col-md-6">
          <h1 class="mt-5">
            <%= product.name %>
          </h2>
          <div class="p-4">
            <div class="form-group">
              <h3>
                <span style="text-decoration:line-through" class="text-danger ">Rs.<%= product.sellprice %></span><br/>
                <span>Rs.<%= product.buyprice %>
                </span>
              </h3>
            </div>
            <div class="form-group">
              <p>
                <%= product.sd %>
              </p>
            </div>
            <div class="form-group">
              <p>
                <%= product.fd %>
              </p>
            </div>
            <form action="/cart" method="post">
              <div class="form-group">
                <input type="hidden" name="productid" value="<%= product._id %>"/>
                <button class="btn btn-lg btn-info ">Add to Cart</button>
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>
    <%- include('../include/footer.ejs') %>
