<%- include('../include/header.ejs') %>

  <%- include('../include/Navigation.ejs') %>

    <div class="container-fluid mt-5">

      <div class="row">

        <div class="col-12 col-sm-4 col-md-3 col-lg-3 mb-5">
          <div class="list-group-item mb-2">
            <h4>Category</h4>
          </div>
          <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action<% if (search==='all') { %> active <% } %>" id="list-all-list" href="/searchproducts/all" role="tab" aria-controls="all">
              All
            </a>
            <% for (cat of category) { %>
              <a class="list-group-item list-group-item-action<% if (search===cat.category_name) { %> active <% } %>" id="list-<%= cat.category_name %>-list" href="/searchproducts/<%= cat.category_name %>" role="tab" aria-controls="<%= cat.category_name %>">
                <%= cat.category_name%>
              </a>
            <% } %>

          </div>
        </div>
        <div class="col-12 col-sm-8 col-md-9 col-lg-8">

          <%- include('./product-list-items.ejs') %>

          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include('../include/footer.ejs') %>
